.cs{
    border:5px solid black;
    padding:220px;
    padding-left: 200px;
    margin-left:230px;
    margin-right: 230px;
    margin-bottom: 230px;
    margin-top: 230px;
    background-color:aqua;
    border: 5px solid black;
    border-radius: 50%;
}



